{% extends "template.html" %}


{% block top_content %}

    <img src="../static/images/banners/stock-photo-12399297-stir-fried-chicken.jpg" class="autoScale" alt="">

{% endblock %}


{% block content %}

    <!-- Desktop view -->
    <div class="row hidden-xs" style="margin-top:15px;margin-bottom:8px;padding-left:15px;padding-right:15px;">
        <div class="col-sm-6">
            <div class="transbox" style="min-height:250px;">
                <h3>Place an Order</h3>
                <p style="padding-bottom:0px;">Call us on:<br>
                    <span style="font-weight:800">01592 780555</span>
                </p>
                <p>Find us at:<br>
                    115 Station Road<br>
                    Lochgelly<br>
                    KY5 9EL</p>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="transbox" style="min-height:250px;">
                <h3>Set Meals</h3>
                <p>See our <a href="/static/images/menu/menu.pdf" target="_blank">menu</a> for a delicious selection of set menus with options for up to 4 people.</p>
            </div>
        </div>
    </div>
    <!-- Mobile view -->
    <div class="row visible-xs" style="margin-top:20px;margin-bottom:20px;">
        <div class="col-sm-6">
            <div class="transbox">
                <h3>Place an Order</h3>
                <p style="padding-bottom:0px;">Call us on:<br>
                    <span style="font-weight:800">01592 780555</span>
                </p>
                <p>Find us at:<br>
                    115 Station Road<br>
                    Lochgelly<br>
                    KY5 9EL</p>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="transbox">
                <h3>Set Meals</h3>
                <p>See our <a href="/static/images/menu/menu.pdf" target="_blank">menu</a> for a delicious selection of set menus with options for up to 4 people.</p>
            </div>
        </div>
    </div>

{% endblock %}